.profile__avatar-edit {
  position: absolute;
  width: 125px;
  height: 125px;
  z-index: 2;
  border-radius: 50%;
  background: url(../../../images/Edit Button Avatar.svg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 26px;
  opacity: 0;
  translate: -1px -1px;
  transition: opacity 0.1s ease-in;
}

.profile__avatar-edit:hover {
  cursor: pointer;
  opacity: 1;
}