.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  max-height: 14px;
  padding: 3px 1px 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 26px 0 0;
}