.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 51px;
}

@media screen and (max-width: 635px){
  .profile {
    flex-direction: column;
    gap: 32px;
    margin: 42px auto 36px;
  }
}