.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../../../images/delete.svg) no-repeat center;
  cursor: pointer;
  width: 18px;
  height: 19px;
  border: none;
  margin: 0;
  transition: opacity 0.5s ease;
}

.element__delete:hover {
  opacity: .6;
}