.popup__container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 34px 36px 37px;
  width: 430px;
  box-sizing: border-box;
}

@media screen and (max-width: 635px){
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
  }
}