.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  max-height: 14px;
  padding: 5px 1px 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}

.popup__input:focus {
  border: 1px solid #00bfff;
  border-radius: 2 px;
}