.header {
  position: relative;
  margin: 0 auto;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 934px){
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 635px){
  .header {
    max-width: 320px;
    width: 100%;
  }
}